.texto1{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 10px;
}
.boton {
    margin: auto;
    width:auto;
    height: auto;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(19, 6, 136);
    font-size: 17px;
    text-align: center;
    border: 1px solid rgb(2, 2, 2);
   }
.contenedor{
    text-align: center;
}
.contenedor2 {
    margin: 10px;
    border: 2px solid rgb(98, 100, 100);
    background-color: rgb(228, 224, 224);
}
.texto {
    margin: 20px;
}
.cuadro{
    margin: auto;    
}
.nav{
    color: black;
    cursor: pointer;
    display: flex;
    margin: 24px 0;
    width: 100%;
}
.nav-item{
    color: black;
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 8px;
    width: 50%;
}
.img{
    
    text-align: center;
}
